name: Tests

on: [push, pull_request]

jobs:
  Test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install Dependencies
      run: sudo apt-get install xorg-dev libglu1-mesa-dev

    - name: Configure
      run: cmake -B build .

    - name: Build
      run: cmake --build build

    - name: Test
      run: ./build/tests/raylib_test
